$left: 300px;
$right: 300px;
$top: 53px;

$primary: #453744;
$secondary: #3D3C40;
$accent: #4C9689;


$light-gray: #f6f7fc;
$gray: #999;
$dark-gray: #464a5c;
$darker-gray: #373352;
$black: #292548;
$vivid-violet:#bc64ce;
$violet:#a347b7;
$border-color: #e4e8eb;

$padding: 16px;

@font-face {
    font-family: 'Circular';
    src: url('https://website.smooch.io/font/CircularStd-Light.eot?#iefix') format('embedded-opentype'),url('https://website.smooch.io/font/CircularStd-Light.woff2') format('woff2'),url('https://website.smooch.io/font/CircularStd-Light.woff') format('woff'),url('https://website.smooch.io/font/CircularStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Circular';
    src: url('https://website.smooch.io/font/CircularStd-Book.eot?#iefix') format('embedded-opentype'),url('https://website.smooch.io/font/CircularStd-Book.woff2') format('woff2'),url('https://website.smooch.io/font/CircularStd-Book.woff') format('woff'),url('https://website.smooch.io/font/CircularStd-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Circular';
    src: url('https://website.smooch.io/font/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),url('https://website.smooch.io/font/CircularStd-Medium.woff2') format('woff2'),url('https://website.smooch.io/font/CircularStd-Medium.woff') format('woff'),url('https://website.smooch.io/font/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@mixin conversation() {
  &:before {
    color: lighten(desaturate($primary, 30%), 30%);
    font-weight: normal;
    margin-right: 3px;
  }
}

body {
  margin: 0;
  font-family: 'Circular', 'ProximaNova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  font-weight:300;
  line-height: 1rem;
  color: #555459;
}

ul, li {
  padding: 0 0 2px;
  margin: 0;
  list-style: none;
  line-height: 1.5rem;
}

header,
aside,
footer {
  position: fixed;
}

aside.right {
  right: 0;
  background-color: $light-gray;
  top: $top + 1;
  width: $right;
  height: 100%;
  z-index:4;
  overflow-y: scroll;
  margin-bottom: 40px;

  .profile {
    margin: 10px;
    word-break: break-all;
    padding-bottom: 40px;
  }

  .profile-detail {
    margin-top: 10px;
    clear: both;
  }

  .warning {
    color: red;
  }

  .section {
    margin-bottom: 20px;
  }

  .section > .title {
    font-weight: bold;
    font-size: 1.4em;
    line-height: 35px;
  }

  .client {
    border-top: 1px solid rgba(0,0,0,.09);
    border-right: 1px solid rgba(0,0,0,.1);
    border-left: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.12);
    border-radius: .375rem;
    padding: 10px;
    margin-bottom: 10px;
  }
  .client > .title {
    font-weight: bold;
    font-size: 1.17em;
    display: block;
    margin-bottom: 10px;
  }

  .client .primary {
    font-size: 12px;
    color: green;
    float: right;
    text-transform: uppercase;
  }

  .label {
    font-weight: bold;
    padding-right: 10px;
  }

}
.topbar{
  position:fixed;
  top:0;
  z-index: 5;
  height: 53px;
  margin-left: $left;
  background: $violet;
  width: calc(100% - 300px);
  .settings{
    position: absolute;
    top: 15px;
    z-index:6;
    right: 170px;
    .fa{
      font-size:21px;
    }
  }
}
header {
  top: $top + 1;
  z-index: 3;
  height: $top;
  margin-left: $left;
  background: white;
  width: 100%;
  border-bottom: 2px solid $border-color;
  h1 {
    padding: 0 $padding + 4px; // padding only on left and right side.
    margin: 0;
    line-height: 53px;
    color: $darker-gray;
    font-size: 18px;
    font-weight: 500;
  }
}

.show-form {
  float: right;
  display: block;
  padding: 0;
  border: solid 1px lighten($primary, 15%);
  background: $primary;
  border-radius: 50% 50%;
  width: 17px;
  height: 17px;
  &:focus {
    outline: none;
  }
}

.hidden {
  display: none;
}

aside.left li a,
header h1 {
  @include conversation();
}

.icon-plus {
  position: relative;
  cursor: pointer;
  &:before {
    content: '+';
    color: lighten($primary, 15%);
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    position: absolute;
    top: -10px;
    left: -5px;
  }
}

aside.left {
  top: $top;
  width: $left;
  background: #fff;
  border-right:2px solid $border-color;
  height: calc(100% - 53px);
  padding: 0;
  box-sizing: border-box;
  z-index: 2;
  a {
    padding: 0;
    text-decoration:none;
    display: block;
    color: $dark-gray;
  }
  .avatar {
    width: 50px;
  }
  #login-buttons {
    &, a {
      text-shadow: none !important;
    }
  }
  ul {
    margin: 0;
  }
  ul li{
    min-height:60px;
    padding: $padding;
  }
  li a:before {
    color: lighten($primary, 10%);
  }
  .active {
    background: $border-color;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    a {
      font-weight:400;
      text-shadow: none;
      &:before {
        color: lighten($accent, 20%);
      }
    }
  }
  .team {
    position: fixed;
    top: 0;
    background: $violet;
    width: $left;
    padding-left: $padding;
    text-shadow: none;
    line-height: $top;
    height: $top;
    box-sizing: border-box;
    font-weight: 500;
    color: white;
  }
  label {
    text-transform: uppercase;
    font-size: 14px;
  }
}

.user {
  position: fixed;
  display: block;
  top:0;
  right:0;
  text-align:right;
  box-sizing: border-box;
  padding: $padding/2 $padding $padding/2 $padding;
  line-height: 35px;
  font-weight: 900;
  a.login-link-text {
    color: white;
    text-decoration: none !important;
  }
}

#login-dropdown-list {
  top: 34px;
  left: -165px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: none;
}

.avatar {
  width: 40px;
  border-radius: 50%;
  border:1px solid $border-color;
  float: left;
  margin-right: $padding*2/3;
}

article {
  padding: $padding*2;
  margin-top: 106px;
  height: calc(100% - 136px);
  width: calc(100% - (300px + 300px));
  position: fixed;
  box-sizing:border-box;
  overflow-y: scroll;
  margin-left: $left;
  margin-right: $right;
  .message {
    font-size: 17px;
    color: $dark-gray;
  }
  .username, h2 {
    color: $darker-gray;
    font-weight: 500;
    letter-spacing: -.02em;
  }
  li {
    margin-top: $padding/2;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  p {
    margin: 0 0 $padding/2 0;
  }
  .time {
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 3px;
  }
  .message-body {
    float: left;
  }

  .message-action {
    .text {
      border-radius: 6px;
      padding: 2px 10px 2px 10px;
      margin-right: 10px;
      background: #b9b9b9;
      color: white;
    }

    .type {
      color: #b9b9b9;
    }
  }
  
  .message-carousel {
    display: inline-block;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: .375rem;
    padding: 10px;
    img {
      height: 100px; 
    }
  }

  .title {
    font-size: 24px;
  }

  .integrated {
    .fa {
      color: green;
    }
  }
  .not-integrated {
    color: grey;
    font-style: italic;
  }

  // integration form
  form {
    margin-top: 10px;
    width: 750px;
  }
  label, input {
    display: inline-block;
  }
  label {
    width: 22%;
    text-align: right;
  }
  label + input  {
    width: 30%;
    margin: 0 30% 0 4%
  }
  input + input {
    float: right;
    margin: 10px 320px 0 0;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - (300px + 324px));
  margin-left: $left;
  margin-right: $right;
  box-sizing: border-box;
  padding: 0 $padding*4/3-3px;
  padding: 0px 24px 16px 24px;
  background: white;
  z-index: 1;

  .message-form {
    .dropup {
      cursor: pointer;
      border: none;
      position: absolute;
      width: 46px;
      height: 46px;
      padding-top: 7px;
      font-size: 20px;
      line-height:46px;
      text-align: center;
      color: lightgrey;
    }
    .menu {
      background: #fff;
      box-shadow: 0 5px 10px rgba(0,0,0,.12);
      border-radius: 6px;
      border: 1px solid rgba(0,0,0,.15);
      padding: 10px;
      color: black;
      font-size: .9375rem;

      a {
        cursor: pointer;
        height:26px;
        border-radius: 6px;
        padding: 3px 10px 3px 10px;
        display: block;
      }

      a:hover {
        color: #fff;
        background: $violet;
      }
    }
    textarea {
      z-index: 2;
    }
  }

  textarea {
    padding-left: 50px;
    border:none;
    border-top: solid 2px $border-color;
    padding: $padding $padding/2 $padding/2 50px;
    width: 100%;
    box-sizing: border-box;
    resize: none !important;
    font-size: 17px;
    &:focus {
      outline: none;
    }
  }
}
