$left: 300px;
$right: 300px;
$top: 53px;

$primary: #453744;
$secondary: #3D3C40;
$accent: #4C9689;


$light-gray: #f6f7fc;
$gray: #999;
$dark-gray: #464a5c;
$darker-gray: #373352;
$black: #292548;
$vivid-violet:#bc64ce;
$violet:#a347b7;
$border-color: #e4e8eb;

$padding: 16px;

@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-Light.eot?#iefix') format('embedded-opentype'),url('/fonts/CircularStd-Light.woff2') format('woff2'),url('/fonts/CircularStd-Light.woff') format('woff'),url('/fonts/CircularStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),url('/fonts/CircularStd-Book.woff2') format('woff2'),url('/fonts/CircularStd-Book.woff') format('woff'),url('/fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),url('/fonts/CircularStd-Medium.woff2') format('woff2'),url('/fonts/CircularStd-Medium.woff') format('woff'),url('/fonts/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@mixin conversation() {
  &:before {
    color: lighten(desaturate($primary, 30%), 30%);
    font-weight: normal;
    margin-right: 3px;
  }
}
textarea, input, button { outline: none; }
body {
  margin: 0;
  font-family: 'Circular', 'ProximaNova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  font-weight:300;
  line-height: 1rem;
  color: #555459;
}

ul, li {
  padding: 0 0 2px;
  margin: 0;
  list-style: none;
  line-height: 1.5rem;
}

header,
aside,
footer {
  position: fixed;
}
.message-row{
  margin-bottom:16px;
}
aside.right {
  right: 0;
  background-color: $light-gray;
  top: $top + 1;
  width: $right;
  height: 100%;
  z-index:4;
  overflow-y: auto;
  margin-bottom: 40px;

  .profile {
    word-break: break-all;
    padding-bottom: 40px;
  }

  .profile-detail {
    margin-top: 10px;
    clear: both;
    padding:0 24px;
  }

  .warning {
    color: red;
    margin: 0 24px;
    display:block;
    font-size:15px;
  }

  .section {
    margin-bottom: 20px;
  }

  .section > .title {
    font-weight: 500;
    font-size: 18px;
    display: block;
    margin:0 24px;
    margin-bottom: 10px;
    &.top-title{
      margin:0;
      padding: 19px 24px 18px 24px;
      border-bottom:2px solid $border-color;
      margin-bottom:24px;
    }
  }

  .client {
    margin: 10px 10px 10px 10px;
    padding: 14px 14px;
    border-radius:6px;
    border:1px solid $border-color;
  }
  .client > .title {
    font-weight:500;
    font-size:15px;
    margin-bottom:12px;
  }

  .client .primary {
    font-size: 12px;
    color: #5067d6;
    float: right;
    text-transform: uppercase;
  }

  .label {
    line-height: 35px;
    font-weight:500;
    font-size: 13px;
    padding-right:6px;
    margin: 0 0 18px;
    letter-spacing: .02em;
    text-transform: uppercase;
    color: #767e8c;
  }
  .value{
    font-size:15px;
    color:#9ba4b3;
  }

}
.topbar{
  position:fixed;
  top:0;
  z-index: 5;
  height: 53px;
  margin-left: $left;
  background: linear-gradient(to right, #47407d 0%, #332c52 100%);
  width: calc(100% - 300px);
  .settings{
    position: relative;
    top: 2px;
    margin-right: 21px;
    z-index:6;
    color:#dee8ff;
    .fa{
      font-size:20px;
    }
    &:active{
      color:#dee8ff;
    }
  }
}
header {
  top: $top + 1;
  z-index: 3;
  height: $top;
  margin-left: $left;
  background: white;
  width: 100%;
  border-bottom: 2px solid $border-color;
  h1 {
    padding: 0 $padding + 4px; // padding only on left and right side.
    margin: 0;
    line-height: 53px;
    color: $darker-gray;
    font-size: 18px;
    font-weight: 500;
  }
}

.show-form {
  float: right;
  display: block;
  padding: 0;
  border: solid 1px lighten($primary, 15%);
  background: $primary;
  border-radius: 50% 50%;
  width: 17px;
  height: 17px;
  &:focus {
    outline: none;
  }
}

.hidden {
  display: none;
}

aside.left li a,
header h1 {
  @include conversation();
}

.icon-plus {
  position: relative;
  cursor: pointer;
  &:before {
    content: '+';
    color: lighten($primary, 15%);
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    position: absolute;
    top: -10px;
    left: -5px;
  }
}

aside.left {
  top: $top;
  width: $left;
  background: #fff;
  border-right:2px solid $border-color;
  height: calc(100% - 53px);
  padding: 0;
  box-sizing: border-box;
  overflow: scroll;
  z-index: 2;
  a {
    padding: 0;
    text-decoration:none;
    display: block;
    color: $dark-gray;
  }
  .avatar {
    width: 50px;
    height: 50px;
  }
  #login-buttons {
    &, a {
      text-shadow: none !important;
    }
  }
  ul {
    margin: 0;
  }
  ul li{
    min-height:60px;
    padding: $padding;
    border-bottom:1px solid $border-color;
    &:hover{
      background-color:#fafbff;
      cursor:pointer;
    }
  }
  li a:before {
    color: lighten($primary, 10%);
  }
  .active {
    background: #eff1f8;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    &:hover{
      background: #eff1f8;
    }
    a {
      font-weight:400;
      text-shadow: none;
      &:before {
        color: lighten($accent, 20%);
      }
    }
  }
  .team {
    position: fixed;
    top: 0;
    background: #47407d;
    width: $left;
    padding-left: $padding;
    text-shadow: none;
    line-height: $top;
    height: $top;
    box-sizing: border-box;
    font-weight: 500;
    color: white;
    img{
      position:relative;
      top: 8px;
      margin-left: 4px;
      margin-right: 10px;
    }
  }
  label {
    text-transform: uppercase;
    font-size: 14px;
  }
}

.user {
  position: fixed;
  display: block;
  top:0;
  right:0;
  text-align:right;
  box-sizing: border-box;
  padding: $padding/2 $padding $padding/2 $padding;
  line-height: 35px;
  font-weight: 400;
  font-size:15px;
  a.login-link-text {
    color: #dee8ff;
    text-decoration: none !important;
  }
}

#login-dropdown-list {
  top: 34px;
  left: -165px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: none;
}

.avatar {
  width: 40px;
  border-radius: 50%;
  border:1px solid $border-color;
  float: left;
  margin-right: $padding*2/3;
}

.two-column article {
  width: calc(100% - (300px));
}
.three-column article {
  width: calc(100% - (300px + 299px));
}
article {
  padding: $padding $padding*2;
  padding-bottom: 32px !important;
  margin-top: 109px;
  height: calc(100% - 187px);
  position: fixed;
  box-sizing:border-box;
  overflow-y: scroll;
  margin-left: $left;
  margin-right: $right;
  &.full-height{
    padding-bottom:0 !important;
    height: calc(100% - 109px);
  }
  .message {
    font-size: 17px;
    background-color: #f6f7fc;
    padding: 14px 20px 16px 20px;
    border-radius:6px;
  }
  .username, h2 {
    color: $darker-gray;
    font-weight: 500;
    letter-spacing: -.02em;
  }
  li {
    margin-top: $padding/2;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  li.reply{
    display:inline-block;
  }
  p {
    margin:0;
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap; /* HP printers */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  }
  span.sentiment-face
  {
    font-size: 1.6em;
  }
  .time {
    font-size: 12px;
    text-transform: uppercase;
    font-weight:400;
    margin-left: 3px;
    color:#9ba4b3;
  }
  .message-body {
    float: left;
    max-width:90%;
  }

  .message img  {
    max-height: 600px;
  }
  .message-action {
    .text {
      padding: 2px 12px 4px 12px;
      margin-right: 10px;
      display:block;
      position:relative;
      text-align:center;
      background-color:$violet;
      color:#fff;
      font-size:14px;
      font-weight:500;
      border-radius:5px;
      box-shadow: 0 3px 6px rgba(63, 49, 178, .1), 0 2px 4px rgba(63, 49, 178, .04);
    }

    .type {
      display:block;
      text-transform:uppercase;
      letter-spacing:0.02em;
      font-size:13px;
      text-align:center;
      font-weight:500;
      color: #9ba4b3;
      font-size: 10px;
      line-height: 15px;
      margin-top: -4px;
      color:rgba(0,0,0,0.5);
    }
  }
  li.reply .message-action{
     .type{
      display:none;
    }
    .text{
      margin-right:2px;
      padding:4px 14px 6px 14px;
      font-size: 15px;
      font-weight: 400;
    }
  }
  .message-carousel {
    width:100%;
    div.img{
      width:100%;
      max-width:360px;
      max-height:200px;
      overflow:hidden;
      border-radius:6px 6px 0 0;
    }
    .scrolls{
      overflow-x: scroll;
      overflow-y: hidden;
      white-space:nowrap;
      padding-bottom:20px;
      &::-webkit-scrollbar {
          height: 10px;
      }
    }
    img {
      width:100%;
    }
    h3{
      font-weight:500;
      padding:0 16px;
      font-size:17px;
      margin: 16px 0;
    }
    ul, li{
      padding:0;
      margin:0;
    }
    .message-action {
      .text {
        padding: 10px 12px 10px 12px;
        margin: 0 7px;
        display:block;
        background:transparent;
        color:$violet;
        position:relative;
        text-align:center;
        font-size:16px;
        font-weight:400;
        border-top:1px solid $border-color;
        border-radius:0;
        box-shadow:none;
      }
      .type{
        color:#9ba4b3;
        margin-top:-2px;
      }
    }
    .carousel-item{
      display:inline-block;
      margin-right:6px;
      border:1px solid $border-color;
      border-radius: 6px;
      padding: 0;
      background:white;
      vertical-align: top;
      box-shadow: 0 4px 8px rgba(63, 49, 178, .03), 0 2px 6px rgba(63, 49, 178, .02);
      &:last-child{
        margin-right:0;
      }
    }
  }

  .message .audio {
    height: 65px;
    p {
      font-style: italic;
    }
    button {
      margin-top: 5px;
    }
  }

  .title {
    font-size: 18px;
    font-weight:500;
  }

  .integrated {
    .fa {
      color: #5067d6;
      position: relative;
      top: 2px;
      font-size:20px;
      margin-right:2px;
    }
  }
  div.not-integrated, div.integrated {
    color: #9ba4b3;
    font-weight:400;
    font-size:15px;
  }
  div.integrated{
    color:#7485d6;
  }
  // integration form
  form label:first-child{
    margin-top: 20px;
  }
  label, input {
    display: inline-block;
  }
  label {
    width: 33%;
    text-align: left;
    font-size:15px;
  }
  label + input  {
    width: 66%;
    margin: 4px 0 4px 0;
    padding: 6px;
    border-radius: 3px;
    font-size:15px;
    font-weight:300;
    box-sizing: border-box;
    border: 2px solid $border-color;
  }
  input + input {
    position:absolute;
    top:24px;
    right:24px;
    font-size:15px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - (300px + 324px));
  margin-left: $left;
  margin-right: $right;
  box-sizing: border-box;
  padding: 0 $padding*4/3-3px;
  padding: 0px 24px 20px 24px;
  background:transparent;
  z-index: 1;

  .message-form {
    .dropup {
      cursor: pointer;
      border: none;
      position: absolute;
      width: 46px;
      height: 46px;
      padding-top: 5px;
      font-size: 20px;
      line-height:46px;
      text-align: center;
      z-index:3;
      color: lightgrey;
    }
    .menu {
      background: #fff;
      box-shadow: 0 4px 8px rgba(63, 49, 178, .1), 0 2px 6px rgba(63, 49, 178, .04);
      border-radius: 6px;
      border: 1px solid $border-color;
      padding: 10px 10px 4px 10px;
      color: $dark-gray;
      font-size: .9375rem;

      a {
        cursor: pointer;
        height:26px;
        border-radius: 6px;
        padding: 3px 10px 3px 10px;
        font-weight:400;
        font-size:15px;
        display: block;
      }

      a:hover {
        color: #fff;
        background: $violet;
      }
    }
    textarea {
      z-index: 2;
    }
    &:focus {
      transform: translateY(-4px);
    }
  }

  textarea {
    padding-left: 50px;
    border:none;
    color:$dark-gray;
    height: auto!important;
    padding: $padding $padding/2 $padding 50px;
    width: 100%;
    box-sizing: border-box;
    resize: none !important;
    font-size: 17px;
    border-radius:6px;
    background-color:#fff;
    border:2px solid $border-color;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #cfd5de;
        -webkit-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out;
    }
    &:focus {
      outline: none;
      background-color:white;
      border:2px solid #dae0e4;
      border-bottom-color:#d3d9dd;
      box-shadow: 0 6px 24px rgba(63, 49, 178, .08), 0 4px 12px rgba(63, 49, 178, .04);
      &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #9ba4b3;
      }
    }
  }
}
.settings-container{
  max-width:960px;
  margin:0 auto;
}
.settings-item{
  border-radius:6px;
  margin-bottom:12px;
  padding:24px;
  position:relative;
  background-color:#f6f7fc;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  &.not-integrated{
    opacity:0.5;
    &:hover{
      opacity:1;
    }
  }
}

.button {
    padding:5px 15px;
    background:#fff;
    border-radius: 5px;
    color:$violet;
    border:none;
    font-weight:400;
    padding: 7px 16px 10px 16px;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    cursor:pointer;
    box-shadow: 0 4px 8px rgba(63, 49, 178, .1), 0 2px 6px rgba(63, 49, 178, .04);
    &:hover{
      box-shadow: 0 5px 9px rgba(63,49,178,0.10), 0 4px 8px rgba(63,49,178,0.06);
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 21px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color:$light-gray;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-clip: padding-box;
    border: 6px solid rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #d7dbe5;
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}
.accounts-dialog *{
  font-family: 'Circular', 'ProximaNova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
}
#login-buttons .login-button, .accounts-dialog .login-button{
  font-family: 'Circular', 'ProximaNova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
}
.accounts-dialog .login-button{
  margin-bottom:8px;
}
#login-buttons .login-close-text{
  font-weight:400;
  text-decoration:none;
}
#login-buttons .login-button, .accounts-dialog .login-button{
  background-color:$violet;
  font-size:14px;
  padding:8px 12px;
  font-weight:500;
  border:none;
  &:hover{
    background-color:$vivid-violet;
  }
}
.accounts-dialog{
  width:230px;
  text-align: left;
}
.accounts-dialog label{
  font-weight:400;
  font-size:14px;
  color:$dark-gray;
}
#login-buttons .login-close-text{
  float:right;
  font-size:14px;
  color:$dark-gray;
}

.assigned {
    position: absolute;
    right: 5px;
    top: 5px;
}

.conversation-entry {
    position: relative;
}
