<template name="settings">
  {{#contentFor 'header'}}
  <h1>Integrations</h1>
  {{/contentFor}}
  {{> home}}

  {{#if available}}
    <ul class="settings-container">
    {{#each integrationForms}}

      {{#if integrated}}
        <li class="settings-item">
          <div class="title">{{name}}</div>
            {{> deleteIntegration}}
        </li>
      {{else}}
        <li class="settings-item not-integrated">
          <div class="title">{{name}}</div>
            {{> createIntegration}}
        </li>
      {{/if}}

    {{/each}}
    </ul>
  {{else}}
    <h1>An account scope key is required for managing integrations</h1>
  {{/if}}
</template>

<template name="createIntegration">
  <div class="not-integrated">Not yet integrated</div>
  <form class="create-integration">
  {{#each fields}}
    <label for="{{key}}">{{name}}</label>
    <input type="text" name="{{key}}" value="{{value}}"/>
  {{/each}}
  <input type="hidden" name="type" value="{{type}}"/>
  <input type="submit" value="Create"/>
  </form>
</template>

<template name="deleteIntegration">
  <div class="integrated"><i class="fa fa-check-circle"></i> Integrated</div>
  <form class="delete-integration">
  <input type="hidden" name="type" value="{{type}}"/>
  <input type="hidden" name="integrationId" value="{{integrationId}}"/>
  <input type="submit" value="Remove"/>
  </form>
</template>
