<template name="home">
  {{#contentFor 'left'}}
  <div class="team">
    <picture>
       <!--[if IE 9]><video style="display: none;"><![endif]-->
       <source srcset="/images/smoochdesk-logo.png, /images/smoochdesk-logo@2x.png 2x">
       <!--[if IE 9]></video><![endif]-->
      <img src="/images/smoochdesk-logo.png" alt="" width="31" height="30">
    </picture>
    <span class="title">
      Your software
    </span>
  </div>

  <ul>
    {{#each conversation in conversations}}
      {{> conversationListItem conversation=conversation}}
    {{/each}}
  </ul>
  {{/contentFor}}
</template>

<template name="conversationListItem">
  <a href="/conversation/{{conversation._id}}">
    <li class="conversation-entry">
        {{#if isAssignedToAgent conversation.assigned}}
          <span class="assigned">⭐</span>
        {{/if}}
      <img class="avatar" src={{conversation.avatarUrl}} />
      <div class="entry-name">{{conversation.name}}</div>
    </li>
  </a>
</template>
