<template name="home">
  {{#contentFor 'left'}}
  <div class="team">
    <picture>
       <!--[if IE 9]><video style="display: none;"><![endif]-->
       <source srcset="/images/smoochdesk-logo.png, /images/smoochdesk-logo@2x.png 2x">
       <!--[if IE 9]></video><![endif]-->
      <img src="/images/smoochdesk-logo.png" alt="" width="31" height="30">
    </picture>
    <span class="title">
      Your software
    </span>
  </div>

  <ul>
    {{#each conversations}}
      {{> conversationListItem}}
    {{/each}}
  </ul>
  {{/contentFor}}
</template>

<template name="conversationListItem">
  <a href="/conversation/{{_id}}">
    <li>
      <img class="avatar" src={{avatarUrl}} />{{name}}
    </li>
  </a>
</template>
