<template name="channel">
  {{#contentFor 'header'}}
  <h1>{{channel.name}}</h1>
  {{/contentFor}}

  <ul>
    {{#each messages}}
    {{> message}}
    {{/each}}
  </ul>

  {{#contentFor 'right'}}
  {{> profile}}
  {{/contentFor}}

  {{#contentFor 'footer'}}
  {{> messageForm}}
  {{/contentFor}}

  {{> home}}
</template>

<template name="messageForm">
  <form class="message-form">
    {{#dropdownTrigger name="chatOptions" }}
    <div class="dropup"><i class="fa fa-plus"></i></div>
    {{/dropdownTrigger}}

    {{#dropdown name="chatOptions" left="73" top="-4" direction="n" animation="appear"}}
    <div class="menu">
      <ul>
        <li><a class="btn_link">Send Link Button</a></li>
        <li><a class="btn_postback">Send Postback Button</a></li>
        <li><a class="btn_quickreply">Send Quick Reply</a></li>
        <li><a class="btn_carousel">Send Carousel</a></li>
      </ul>
    </div>
    {{/dropdown}}
    <textarea rows="1" cols="100"></textarea>
  </form>
</template>

<template name="message">
  {{#if date}}
  <h2>{{date}}</h2>
  {{/if}}
  <li>
    <img src="{{avatarUrl}}" class="avatar">
    <div class="message-body">
      <div><span class="username">{{userName}}</span> <span class="time">{{time}}</span></div>
      <div class="message">{{#markdown}}{{{message}}}{{/markdown}}</div>
    </div>
  </li>
</template>
